header {
  background-color: black;
  font-family: var(--font-especial);
}

header h2 {
  padding: 25px;
  color: #ffffff;
  font-family: var(--font-padrao);
  font-size: 36px;
  text-align: center;
}

.container-header {
  display: flex;
}

nav {
  font-size: 24px;
  display: flex;
  position: absolute;
  top: 27px;
  padding: 0 87px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: #ffffff;
}

nav h1 {
  font-size: 50px;
}

header nav a {
  padding-left: 28px;
  color: black;
  transition: all 0.3s;
}
