@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --color-blue: #385EFC;
  --color-pink: #FCA2D5;
  --color-button: #AC5252;
  --font-especial: 'Permanent Marker', cursive;
  --font-padrao: 'Rubik Mono One', sans-serif;
  --font-padrao2: 'Staatliches', cursive;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}