@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --color-blue: #385EFC;
  --color-pink: #FCA2D5;
  --color-button: #AC5252;
  --font-especial: 'Permanent Marker', cursive;
  --font-padrao: 'Rubik Mono One', sans-serif;
  --font-padrao2: 'Staatliches', cursive;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

header{
    background-color: black;
    font-family: var(--font-especial);
}

header h2{
    padding: 25px;
    color: #FFFFFF;
    font-family: var(--font-padrao);
    font-size: 36px;
    text-align: center;
}

.container-header{
    display: flex;
}

nav{
    
    font-size: 24px;
    display: flex;
    position: absolute;
    top: 27px;
    padding: 0 87px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #FFFFFF;
}

nav h1{
    font-size: 50px;
}

header nav a{
    padding-left: 28px;
    color: black;
    transition: all 0.3s;
}

.container-blue a
{
    position: absolute;
    top: 48rem;
    left: 20rem;
    font-family: var(--font-padrao);
    padding: 24px;
    color: black;
    width: 20rem;
    text-align: center;
    border-radius: 50px;
    background-color: var(--color-button);
    box-shadow: 10px 15px 1px rgba(0, 0, 0, 0.35);
    transition: all 0.5s;
}

.container-blue a:hover{
    color: white;
    scale: 1.1;
}

.container-blue img {
    width: 370px;
    margin-top: 20rem;
    margin-left: 4.75rem;
    margin-bottom: 8.6rem;
}

.container-blue{
    width: 49.5%;
    margin-right: 0.5%;
    background-color: var(--color-blue);

}

.container-pink{
    display: flex;
    font-family: var(--font-padrao2);
    width: 50%;
    background-color: var(--color-pink);
}

.container-pink section{
    font-size: 48px;
    margin-top: 13rem;
    margin-left: 34px;
    width: 19.3rem ;
}

.container-pink a{
    position: absolute;
    top: 45.3rem;
    right: 7.6rem;
    font-family: var(--font-padrao);
    color: black;
    padding: 13px;
    width: 15rem;
    text-align: center;
    border-radius: 50px;
    background-color: var(--color-button);
    box-shadow: 10px 15px 1px rgba(0, 0, 0, 0.35);
    transition: all 0.5s;
}

.container-pink a img {
    width: 35px;
}

.container-pink a:hover{
    color: white;
    scale: 1.1;
}

.container-pink p {
    font-family: var(--font-especial);
    position: absolute;
    top: 54.5rem;
    margin-left: 34px;
}