@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --color-blue: #385efc;
  --color-pink: #fca2d5;
  --color-red: #b6210dc9;
  --color-button: #d8ad14;
  --font-especial: "Permanent Marker", cursive;
  --font-padrao: "Rubik Mono One", sans-serif;
  --font-padrao2: "Staatliches", cursive;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #e5e5e5;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
