header {
  background-color: black;
  font-family: var(--font-especial);
}

header h2 {
  padding: 25px;
  color: #ffffff;
  font-family: var(--font-padrao);
  font-size: 36px;
  text-align: center;
}

.container-header {
  display: flex;
}

.container-blue a {
  z-index: 9;
  position: absolute;
  top: 48rem;
  left: 20rem;
  font-family: var(--font-padrao);
  padding: 24px;
  color: black;
  width: 20rem;
  text-align: center;
  border-radius: 50px;
  background-color: var(--color-button);
  box-shadow: 10px 15px 1px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}

.container-blue a:hover {
  color: white;
  scale: 1.1;
}

.container-blue .carousel-inner img {
  width: 370px;
  margin-top: 20rem;
  margin-left: 4.75rem;
  margin-bottom: 8.6rem;
}

.container-blue {
  width: 49.5%;
  margin-right: 0.5%;
  background-color: var(--color-blue);
}

.container-pink {
  display: flex;
  font-family: var(--font-padrao2);
  width: 50%;
  background-color: var(--color-pink);
}

.container-pink section {
  font-size: 48px;
  margin-top: 13rem;
  margin-left: 34px;
  width: 19.3rem;
}

.container-pink a {
  position: absolute;
  top: 45.3rem;
  right: 7.6rem;
  font-family: var(--font-padrao);
  color: black;
  padding: 13px;
  width: 15rem;
  text-align: center;
  border-radius: 50px;
  background-color: var(--color-button);
  box-shadow: 10px 15px 1px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}

.container-pink a img {
  width: 35px;
}

.container-pink a:hover {
  color: white;
  scale: 1.1;
}

.container-pink p {
  font-family: var(--font-especial);
  position: absolute;
  top: 54.5rem;
  margin-left: 34px;
}

@media (max-width: 1360px) {
  * {
    font-size: 14px;
  }

  .container-header {
    flex-direction: column-reverse;
  }

  .container-pink {
    width: 100%;
    padding-bottom: 10rem;
    justify-content: center;
  }

  .container-pink section {
    width: 22.3rem;
  }

  .container-pink a {
    top: 56.3rem;
    right: 10rem;
  }

  .container-pink p {
    display: none;
  }

  .container-blue,
  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .container-blue .carousel-inner img {
    margin-left: 0;
  }

  .container-blue a {
    top: 121rem;
    left: 10rem;
  }

  header h2 {
    font-size: 28px;
  }

  @media (max-width: 600px) {
    .container-blue img {
      width: 320px;
      margin-top: 10rem;
      margin-bottom: 8.6rem;
    }

    .container-blue a {
      top: 122rem;
      left: 3rem;
    }

    header h2 {
      font-size: 14px;
    }

    nav {
      padding: 0 30px;
    }
  }
}
