@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.background-red {
  margin: 0;
  background-color: var(--color-blue);
  min-height: 1020px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dsmovie-form-container {
  font-family: var(--font-padrao2);
  border-radius: 31px 31px 20px 20px;
  max-width: 480px;
  margin: 0 auto;
  -webkit-box-shadow: 13px 14px 0px 5px #000000;
  box-shadow: 13px 14px 0px 5px #000000;
  /* padding: 20px; */
  border: solid 3px black;
  animation: myAnim 2s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal forwards;
}

.dsmovie-form {
  width: calc(100% - 20px);
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px;
  color: #aaa;
}

.dsmovie-form-btn-container {
  display: flex;
  justify-content: center;
}

.dsmovie-movie-card-image {
  width: 100%;
  border-radius: 27px 27px 0 0;
  border-bottom: solid 3px black;
}

.dsmovie-card-bottom-container {
  font-family: var(--font-padrao2);
  border-radius: 0px 0px 20px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  /* border-radius: 0 0 8px 8px; */
}

.dsmovie-card-bottom-container h3 {
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  min-height: 40px;
}

.dsmovie-btn {
  font-family: var(--font-especial);
  background-color: var(--color-button);
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 7px 0px 2px #000000;
  box-shadow: 5px 7px 0px 1px #000000;
  transition: all 0.5s;
}

.dsmovie-btn:hover {
  scale: 1.04;
  background-color: var(--color-blue);
  color: #fff;
}
