.dsmovie-form-container {
  font-family: var(--font-padrao2);
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 15px;
}

.dsmovie-form {
  width: calc(100% - 20px);
}

.dsmovie-form-group {
  margin-bottom: 20px;
}

.dsmovie-form-group label {
  font-size: 12px;
  color: #aaa;
}

.dsmovie-form-btn-container {
  display: flex;
  justify-content: center;
}

.dsmovie-movie-card-image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.dsmovie-card-bottom-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-radius: 0 0 8px 8px;
}

.dsmovie-card-bottom-container h3 {
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  min-height: 40px;
}

.dsmovie-btn {
  font-family: var(--font-especial);
  background-color: var(--color-button);
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 160px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 1px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
}

.dsmovie-btn:hover {
  scale: 1.04;
  background-color: var(--color-blue);
  color: #fff;
}
